img{
  width: 200px;
}

#confirm{
float: right;
}
.toppings{
  display: none;
}

.confirmation{
display: none;
  width: 600px;
  margin: 0 auto;
}
#complete-order{
float: right;
display:none;
}

#order-more-pizza{
  float: right;
}
h4{
  text-align: center;
}
.delivery {
  width: 500px;
  display: none;
  margin: 0 auto;
}

#continue1{
float: right;
}
